#leftmenucontent {
    display: grid;
    grid-template-columns: 160px 1fr;
}

#leftmenu {
    border-right: 1px gray solid;
    text-align: left;
}

#itemselect {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
